<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

  <title>Clarent Institute CorePocket</title>
  <!-- favicon -->
  <!--<link rel="shortcut icon" href="../../App_Themes/Default/images/favicon.ico" type="image/x-icon">-->

  <link href="../../App_Themes/Default/css/kendo.common.min.css" rel="stylesheet" />
  <link href="../../App_Themes/Default/css/kendo.default.min.css" rel="stylesheet" />
  <link href="../../App_Themes/Default/css/fonts.css" rel="stylesheet" />
  <link href="../../App_Themes/Default/css/styleguide.css" rel="stylesheet" />
  <link href="../../App_Themes/Default/css/core-pocket-responsive.css" rel="stylesheet" />
  <link href="../../App_Themes/Default/css/casepoint.comfortable.css" rel="stylesheet" />
  <link href="../../App_Themes/Default/css/kendo.Deeppurple.css" rel="stylesheet" />

  <!-- css -->
  <link href="../../App_Themes/Default/css/core-pocket.css" rel="stylesheet" />
</head>

<body>
  <header>

  </header>
  <div class="container">
    <main role="main" class="pb-3">
      @RenderBody()
    </main>
  </div>

  <footer class="border-top footer text-muted">

  </footer>

</body>

</html>
